<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nxt_rc.css')}}">
    <title>NXT Remote Control</title>
</head>
<body>

    <div class="action-buttons">

        <form action="/check_connectivity" method="post">
            <button type="submit" value="check_connectivity">Check Brick Connectivity</button>
        </form>

        <form action="/scan_color" method="post">
            <button type="submit" value="scan_color">Scan Color</button>
        </form>

        <form action="/shoot" method="post">
            <button type="submit" value="shoot">Shooooooooot</button>
        </form>

        <form action="/nolohagaswe" method="post"></form>
            <button type="submit" value="?">?</button>
        </form>

    </div>

    <div class="scanned-color-box">
        <img src="{{ url_for('static', filename='images/mcd_logo.png') }}" alt="mcd-logo">
    </div>

    <div class="movement-buttons">
        <button>↑</button>
        <button>↓</button>
    </div>

</body>
</html>