<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nxt_rc.css')}}">
    <title>NXT Remote Control</title>
    <script src="{{ url_for('static', filename='js/fetching.js')}}"></script>
</head>
<body>

    <div class="action-buttons">

        <button onclick="check_connectivity()">Check Brick Connectivity</button>
        <button onclick="scan_color()">Scan Color</button>
        <button onclick="shoot()">Shooooooooot</button>
        <button>?</button>

    </div>

    <div>

        <div class="mcd-logo">
            <img src="{{ url_for('static', filename='images/mcd_logo.png') }}" alt="mcd-logo">
        </div>

        <div class="connection-status"> Not Connected </div>

        <div class="scanned-color-box"></div>

    </div>

    <div class="movement-buttons">
        <button onclick="move('forward')">↑</button>
        <button onclick="move('backward')">↓</button>
    </div>

</body>
</html>